<header class="main-head">
  <div class="nav">
    <div class="logo">
      <a href="/"> WatFriends</a>
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li>
            <a href="http://wat-friends-chat.herokuapp.com/home#email=<%= email %>&token=<%= token %>">
              CHAT
            </a>
          </li>
          <li>
            <a href="/feedback">
              FEEDBACK
            </a>
          </li>
          <li>
            <a href="/users/logout">
              LOG OUT
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>