<footer>
  <div class="footer-content">
    <div class="col left">

      <div class="images">
        <a href="https://www.instagram.com/watfriendsuw/"><img src="../public/images/insta-logo.svg" alt=""></a>
      </div>

    </div>
    <div class="col mid">
      <div class="text made-by">
        Made with &nbsp; <img src="../public/images/heart.svg" alt=""> &nbsp;by University of
        Waterloo students.
      </div>
      
    </div>
    <div class="col right">
      <div class="text">
        <a href="/meetTeam">Meet the team </a>
      </div>
      <div class="text">
        Terms of use
      </div>
      <div class="text">
        Privacy policy
      </div>
      <div class="text">
        Copyright © 2020
      </div>
    </div>
  </div>

</footer>