<header class="main-head">
    <div class="nav">
      <div class="logo">
        <a href="/dashboard"> WatFriends</a>
      </div>
      <div class="menu">
        <nav>
          <ul>
            <li>
              <a href="/feedback">
                FEEDBACK
              </a>
            </li>
            <li>
              <a href="/users/logout">
                LOG OUT
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>