<header class="main-head">
  <div class="nav">
    <div class="logo">
      <a href="/"> <img src="../public/images/logo.svg" alt="" id="logo"></a>
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li>
            <a href="/users/login">LOGIN</a>

          </li>
          <li>
            <a href="/users/register">
              SIGN UP
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>