<%-include ('./partials/header') %>
<div class="back-button">
  <a href="/">Back to Homepage</a>
</div>
<section class="landing-wwd">
  <h2>
    Meet the team
  </h2>
  <div class="cards-section team-justify">
    <div class="card team-fix">
      <img src="../public/images/saarang.jfif" alt="">
      <h3>
        Saarang Agarwal
      </h3>
      <div class="card-text">
        President & Full Stack Developer
      </div>
    </div>
    <div class="card team-fix">
      <img src="../public/images/dhruv.png" alt="">
      <h3>
        Dhruv Jain
      </h3> 
      <div class="card-text">
        Full Stack Developer
      </div>
    </div>
    <div class="card team-fix">
      <img src="../public/images/yash.png" alt="">
      <h3>
        Yash Rathore
      </h3>
      <div class="card-text">
        Full Stack Developer
      </div>
    </div>
    <div class="card team-fix">
      <img src="../public/images/aryaman.png" alt="">
      <h3>
        Aryaman Goel
      </h3>
      <div class="card-text">
        Software Developer & HR
      </div>
    </div>
    <div class="card team-fix">
      <img src="../public/images/garima.png" alt="">
      <h3>
        Garima Bhargava
      </h3>
      <div class="card-text">
        Psychology and marketing executive
      </div>
    </div>
    <div class="card team-fix">
      <img src="../public/images/ruhi.png" alt="">
      <h3>
        Ruhi Modi
      </h3>
      <div class="card-text">
        Legal and Business executive
      </div>
    </div>
    <div class="card meet-last-row-one">
      <img src="../public/images/man.svg" alt="">
      <h3>
        Leon Dai
      </h3>
      <div class="card-text">
        Full Stack Developer
      </div>
    </div>
    <div class="card meet-last-row-two">
      <img src="../public/images/woman.svg" alt="">
      <h3>
        Jaishree Bala
      </h3>
      <div class="card-text">
        Front-end Developer
      </div>
    </div>
  </div>
  <h3>
    Special thanks to:
  </h3>
  <p class="special-thanks">Adib Akm</p>
  <p class="special-thanks">Rachel Xu</p>
  <p class="special-thanks">Ananya Ray</p>
</section>

<%-include ('./partials/footer') %>
