<%-include ('./partials/header') %>

<section class="hero-landing">
  <div class="col-1">
    <h2>
      Do you find yourself asking “psh what friends”?<br>
      Try <b> WatFriends</b>.
    </h2>
    <h3>
      WatFriends is a platform all about building connections in unique ways.
      We try our best to help you get in touch with the most compatible person from a large pool of candidates!
    </h3>
    <div class="capsule">
      <div class="row-1">Interested yet?</div>
      <div class="row-2"><a href="/users/register">SIGN UP!</a> </div>
    </div>
    <div class="text">
      Already a member?<a href="/users/login"> Log in</a>
    </div>
  </div>
  <div class="col-2">

  </div>
</section>
<section class="landing-wwd">
  <h2>
    What We Do
  </h2>
  <div class="cards-section">
    <div class="card">
      <img src="../public/images/loveLandingPage.svg" alt="">
      <h3>
        Love Matching
      </h3>
      <div class="card-text">
        Find a partner this Valentine’s Day! A feature that uses a Nobel Prize winning algorithm to help you find your perfect match!
      </div>
    </div>
    <div class="card">
      <img src="../public/images/friendsLandingPage.svg" alt="">
      <h3>
        Friend Finding </h3>
      <div class="card-text">
        Finding it hard to make new friends this quarantine? Find your perfect buddy using our Noble Prize winning algorithm!
      </div>
    </div>
    <div class="card last-card">
      <img src="../public/images/projectLandingPage.svg" alt="">
      <h3>
        Project Buddy </h3>
      <div class="card-text">
        Ever struggled finding a perfect project partner? Try Project Buddy, a feature that will allow like-minded people to find each other, to work on projects!
      </div>
    </div>

  </div>
</section>

<section class="landing-wwd">
  <h2>
    Coming Up
  </h2>
  <div class="cards-section">
    <div class="card">
      <img src="https://st2.depositphotos.com/1561359/12316/v/450/depositphotos_123163534-stock-illustration-coming-soon-hanging-sign.jpg" alt="">
      <h3>
        WatTheCoop
      </h3>
      <div class="card-text">
        Coming soon- A feature created to help students get insightful information that can help them during the coop process.
      </div>
  </div>
  <div class="card">
    <img src="https://st2.depositphotos.com/1561359/12316/v/450/depositphotos_123163534-stock-illustration-coming-soon-hanging-sign.jpg" alt="">
    <h3>
      Hackathon Buddy
    </h3>
    <div class="card-text">
      Coming soon- A feature to help find people to team up with for Hackathons.
    </div>
  </div>
  <div class="card last-card">
    <img src="https://st2.depositphotos.com/1561359/12316/v/450/depositphotos_123163534-stock-illustration-coming-soon-hanging-sign.jpg" alt="">
    <h3>
      WatLove
    </h3>
    <div class="card-text">
      Coming soon! #TiNdEr
    </div>
  </div>
</section>

<%-include ('./partials/footer') %>

